body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.eventDetail {
  width: 500px !important; 
  height: 400px !important;
  overflow: hidden !important; 
  position: relative !important;
}

.eventDetail img {
  width: 100% !important; 
  height: 100% !important; 
  object-fit: cover !important; 
  object-position: center !important; 
}

.event-details{
  width: 100%; 
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#map {
  height: 100vh; 
  width: 100%;   
}

.navbar-brand img {
  z-index: 10;
}

.fullpage{
  background-color: #c9dfc9;
  min-height: 100vh;
}

textarea.inserisciCommento {
  min-height: 100px !important;
  max-height: 100px !important;
  resize: none;
}

.comment{
  background-color:#cbe2cb48;
}

.comment a:hover{
  cursor:pointer;
  color:darkmagenta;
}


.dropdown-menu-mine {
  display: block;
  position: absolute; 
  top: 100%;
  left: 0;
  z-index: 1000; 
}

.dropdown-menu-mine .dropdown-item-mine:hover{
  background-color: lightgray;
}

.dropdown-menu-mine .dropdown-item-mine:active{
  background-color: lightgray;

}

.defaultImage {
  width: 70% !important;
}